:root {
    --page-bg: #212121;
    --page-text: #9cdcfe;
    --editor-border: #3d7993;
    --editor-bg: #1d1e22;
    --editor-text: #9cdcfe;
    --lines-bg: #1a1a20;
    --lines-text: #9adafa;
    --popup-bg: #545d83;
    --popup-text: #d0ebf9;
    --popup-element-active: #646d93;
    --button-active: #666666;
    --dropdown-bg: #3d435a;
    --dropdown-element-active: #4d536a;
}

/* Reset styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--page-bg);
}

div.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}

div.editor_wrapper {
    height: 100%;
    min-width: 300px;
    width: 40%;
    display: flex;
    flex-direction: column;
    background: var(--editor-bg);
    padding: 1em;
    border-radius: 8px;
    border: 1px solid #444;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
}

div.viewer_wrapper {
    height: 100%;
    width: 60%;
}

div.editor_menubar {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;

    padding: 0px 1px;
    margin: 5px 1px;
}

.editor_menu {
    width: min-content;

    display: inline-block;

    margin-bottom: 3px;
}

.editor_menubtn {
    font-family: monospace;
    font-size: large;

    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    text-align: center;
    
    border-width: 1px;
    border-radius: 3px;
    padding: 2px;

    color: var(--page-text);
    background-color: var(--page-bg);
    border-color: var(--lines-text);
}

.editor_body {
    height: 100%;
    overflow: hidden;
}

.editor_footer {
    display: flex;
}

.editor_footer-left {
    display: flex;
    flex-direction: column;
}
.editor_footer-right {
    flex: 1;
    margin-left: 10px;
    overflow: hidden;
}

.editor_btn {
    background-color: #444444;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    margin-top: 1em;
    width: 100px;
}
.editor_btn:hover {
    background-color: var(--button-active);
}
.editor_btn:active {
    transform: scale(0.97);
}

.editor_console {
    background-color: #000;
    width: 100%;
    height: 100px;
    margin-top: .9em;
    border: 1px solid var(--editor-border);
    overflow: auto;
}

.editor_code {
    position: relative;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid var(--editor-border);
    display: flex;
    overflow: hidden;
}

.code_textarea {
    width: 100%;
    border:none;
    outline: none;
    padding: 0.5rem;
    resize: none;

    font-family: monospace;
    font-size: 15px;

    color:var(--editor-text);
    background-color: var(--editor-bg);
}

.dropdown_menu {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    background-color: var(--dropdown-bg);
    
    white-space: nowrap;
    text-align: left;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid var(--lines-text);
    border-radius: 3px;
    z-index: 1;
}

.dropdown_option {
    color: var(--page-text);
    padding: 12px 16px;
    text-decoration: none;

    font-family: monospace;
    font-size: large;
}
.dropdown_option:hover {
    background-color: var(--dropdown-element-active);
}

.dropdown_icon {
    height: 18px;
    width: auto;
    display: flex;
    justify-content: center;
    filter: invert(75%) sepia(51%) saturate(347%) hue-rotate(172deg) brightness(101%) contrast(99%);
}

.popup_container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    
    display: none;
    align-items: center;
    justify-content: center;
}
.popup_window {
    color: var(--popup-text);
    background-color: var(--popup-bg);

    border-radius: 8px;
    min-width: 400px;
    width: 50%;
    height: 75%;

    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.popup_window hr {
    border-color: var(--popup-text);
    margin: 0;
    align-self: stretch;
}

.popup_window button {
    display: block;
    margin: 0 auto;
}

.selector_options {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}

.selector_options ul {
    display: flex;
    flex-direction: column;
}

.selector_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    border: 1px solid var(--editor-border);
}

.selector_icon {
    height: 75px;
    width: auto;
    display: flex;
    justify-content: center;
    filter: invert(75%) sepia(51%) saturate(347%) hue-rotate(172deg) brightness(101%) contrast(99%);
}

.selector_name {
    width: 200px;
}

.selector_author {
    width: 100px;
}

.selector_item:hover {
    background-color: var(--popup-element-active);
}

.selector_data {
    color: var(--editor-text);
    margin: 1em 1em;
}

.selector_name {
    font-size: large;
    font-style: bold;
}

.selector_author {
    font-size: medium;
    font-style: italic;
}

.show {display:flex;}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

ul.nobullet {
    list-style-type: none;
}